body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: rgb(39, 39, 70);
    font-family: 'Roboto Condensed', sans-serif;
    background-image: url('https://source.unsplash.com/1600x900/?landscape');
    font-size:120%;
}
.card{
    background:rgba(164, 171, 185, 0.911);
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 1em;

}
.search{
    display:flex;
    align-items: center;
    justify-content: center;

}
button:hover{
    background:rgb(63, 63, 95);
    color: mistyrose;
}
button{
    margin: 0.5em;
    border-radius:50%;
    border: none;
    height: 45px;
    width: 46px;
    outline:none;
    background:rgb(182, 236, 228);
    color: midnightblue;
    cursor:pointer;
    transition: 0.2s ease-in-out;
}
input.search-bar{
    border:none;
    outline:none;
    padding:0.5em;
    border-radius: 24px;
    background:rgba(68, 74, 83, 0.973);
    color:white;
    font-family:inherit;
    font-size:100%;
    width:calc(100% - 50px);
}

h1:temp{
    margin:0;
}